{% extends 'base.html' %}

{% block title %}Esqueceu Sua Senha?{% endblock %}

{% block conteudo %}

<link rel="stylesheet" href="/static/css/senha.css">

<div id="formulario-senha">
  <h1>Esqueceu Sua Senha?</h1>
  <p>Insira seu endereço de email abaixo, e vamos te mandar um email com instruções de como gerar uma nova.</p>

  <div id="centralizar">
    <form method="POST">
      {% csrf_token %}
      <div id="formulario">
        {{ form.as_p }}
      </div>
      <div id="centralizar-botao">
        <input type="submit" id="botao" value="Enviar email!">
      </div>
  </div>
</div>
</form>
</div>
{% endblock %}