{% extends "base.html" %}

{% block title %}Recuperação de Senha{% endblock %}

{% block conteudo %}

<link rel="stylesheet" href="/static/css/senha.css">

<div id="formulario-senha">

  {% if validlink %}

  <h1>Coloque uma nova senha</h1>
  <form method="POST">
    {% csrf_token %}
    <div id="formulario">
      {{ form.as_p }}
    </div>
    <div id="centralizar">
      <input type="submit" id="botao" value="Mudar minha senha">
    </div>
  </form>

  {% else %}

  <p>O link de reset de senha é inválido, possivelmente por já ter sido usado. Por favor peça uma nova senha de novo.
  </p>

  {% endif %}
</div>
{% endblock %}