{% extends "base.html" %}

{% block conteudo%}

<link rel="stylesheet" href="/static/css/index.css">
<div id="index-main-page">
    <h1>Secular</h1>
    <div class="subtitulo">
        <h2>ad astra</h2>
        <h2>natus vincere</h2>
        <h2>hic et nunc</h2>
    </div>
    <hr>
    <div class="main-content">
        <span class="main-content-1">
        </span>
        <span class="main-content-2">
        </span>
        <span class="main-content-3">
        </span>
    </div>
    <hr>
    <div class="carrossel">
        <!-- Carrossel aqui-->
    </div>
</div>

{% endblock conteudo%}