{% extends "base.html" %}
{% block titulo %}Sobre Nós{%endblock titulo%}
{% block conteudo %}
<link rel="stylesheet" href="/static/css/sobre.css">
<br>
<h1>Sobre a Secular</h1>
<br>
<p id="second-title">
    &nbsp;Secular foi desenvolvida com o proposito de realizar uma atividade currícular
</p>
<p>
    &nbsp;Criamos o grupo com a ideia de realizar um projeto da faculdade , onde nesse projeto temos metricas a seguir
    (requisitos) e entregalos com prazos já definidos. <br>
    &nbsp;Com isso, foi passado a nós uma ideia de projeto , ideia essa que se tornou desafiante para nós , pois requer
    conhecimento e tempo , e ambos a equipe está com pouco. <br>
    &nbsp;A ideia passada para nós é de desenvolver um app/site que usuários da nossa universidade(EMGE), possam
    utilizar para
    responder perguntas e propor também , referente as suas matérias de interesse. <br>
    &nbsp;A Secular vem com perguntas do cotidiano academico , de maneira fácil e objetiva,e incentivamos os alunos com
    ranks
    , para verem como anda seu progresso e sua diferença dos colegas. <br>
    <br>
</p>
<p id="sidebar">
    Grupo Secular
</p>
<p id="integrantes">
    Gustavo Pedrosa&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cau&atilde; Henrique <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pedro
    Augusto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bryan Wille <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Luisa
    Viotti&nbsp;&nbsp;&nbsp;&nbsp;Matheus Mastellona
</p>
{% endblock conteudo%}