{% extends "base.html" %}
{% block titulo %}Sobre Nós{%endblock titulo%}
{% block conteudo %}
<h1>Sobre Secular</h1>
<p>
    Secular foi desenvolvida com o proposito de realizar uma atividade currícular 
</p>
<p> 
    Criamos o grupo com a ideia de realizar um projeto da faculdade , onde nesse projeto temos metricas a seguir (requisitos) e entregalos com prazos já definidos. <br>
    Com isso foi passado a nós uma ideia de projeto , ideia essa que se tornou desafiante para nós , pois requer conhecimento e tempo ,  e ambos a equipe está "agarrada". <br>
    A ideia passada para nós é de desenvolver um app/site que  usuários da nossa universidade(EMGE), possam utilizar para responder perguntas e propor também , referente as suas matérias de interesse. <br>
</p>
{% endblock conteudo%}