{% extends "base.html" %}

{% block titulo %}LOGIN{% endblock %}

{% block conteudo %}
<div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md">
                <form method="POST">{% csrf_token %}
                    
                    {% if error %}
                    <div class="alert alert-danger" role="alert">
                    {{error}}    
                    </div>
                    {% endif %}
                    {% if success %}
                    <div class="alert alert-success" role="alert">
                    {{success}}
                    </div>
                    {% endif %}
                    
                    <h1>Login</h1>
                    <hr>
                    <label>Email</label>
                    <input  class="form-control" type="email" placeholder="Digite o seu email..." name="email">
                    <br>
                    <label>Senha</label>
                    <input  class="form-control" type="password" placeholder="Digite sua senha..." name="senha">
                    <br>
                    <input class="btn btn-outline-success" type="submit" value="Logar">
                    <a href="{% url 'cadastro' %}" class="btn btn-outline-primary">Cadastre-se</a>
                </form>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
{% endblock %}