footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer {
    font-size: 20px;
    text-align: center;
    color: var(--text-color);
    background-color: var(--sidebar-color);
}