body {background-color: rgb(243, 157, 157);
    font-size:26px;

   }

h1 {
    color: red;
    font-size: 40px;

}

.container-main{
    display: flex;

}
.col-1{
    width:700px;
    font-size: center;
    border-right: 5px solid red;
}
img{
    width:500px;
}