body {background-color: rgb(243, 157, 157);
    font-size:22px;

   }

h1 {
    color: red;
    font-size: 40px;
    text-align: center;
}

.container-main{
    display: flex;

}
.col-1{
    width:700px;
    font-size: center;
}
img{
    width:900px;
}
.col-2{
    display: center;
}
.banner-btn{
    align-items: center;
}