body {
    font-size: 30px;

}

h1 {
    text-align: center;
    color: red;
    font-size: 40px;
    margin-left: -30vw;
}

.container-main {
    display: flex;

}

.col-1 {
    width: 700px;
    text-align: center;
}

img {
    width: 1200px;
}

.col-2 {
    align-items: left;
}