body{
    font-size: 350%;
}
h1{
    font-size: 100px;
    text-align: center;
    color: #c70e0e;
}
#second-title{
    color:#c70e0e;
    text-align: center;
    font-size: 150%;
}
#sidebar{
    text-align: center;
    color: #c70e0e;
}
#integrantes{
    color: #c70e0e;
}
