:root {
    font-size: 62.5%;

    /* fonts type */
    --calibri-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --poppins-font: 'poppins', sans-serif;
    --dm-sans-font: 'DM Sana', sans-serif;
    --font-fontosa-foda: 'Open Sans', sans-serif;

    /* fonts size */
    --large-font-size: 10.0rem;
    --mid-font-size: 7.0rem;
    --smal-font-size: 4.0rem;
    --big-small-font: 1.25rem;

    /* colors */
    --body-color: #fff;
    --bgcolor: #091921;
    --contrast-color: #c70e0e;
    --lighter-color: #999A9A;
    --darker-color: #2C2C2C;
    --darker-contrast-color: rgb(138, 7, 7);


}